@font-face{
    font-family: Playpen;
    src: url(/EEP/resources/Playpen.ttf);
}
body {
	background: linear-gradient(-45deg, #0b666a, #35a29f);
	background-size: 300% 300%;
	animation: gradient 25s ease infinite;
	height: 100vh;
    background-attachment: fixed;
    font-family: 'Playpen';
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}
nav ul li a:hover::after{
    width: 50%;
}

#tab{
    margin: 10px auto 0;
    align-items: center;
    text-align: center;
}
#tab a{
    display: inline-flex;
    text-decoration: none;
}
#tile{
    text-align: center;
    background: linear-gradient(135deg, #124699, #554add);
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    color: #fff;
    margin: 10px;
    transition: all ease 0.5s;
}
#tile img{
    height: 60px;
}
#tile:hover{
    scale: 1.07;
    border-radius: 8px;
}
#tile-title{
    width: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.container1{
    height: 100vh;
    width: 100%;
    background-image: url(/EEP/images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 3%;
    padding-right: 5%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.content h1{
    font-size: 65px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
}
.content p{
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    animation-delay: 0.5s;
}
.content {
    max-width: 730px;
    margin-top: 2%;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #000;
    background: #fff;
    font-size: 25px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.8s;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.featue-img{
    width: 550px;
    position: absolute;
    bottom: 0;
    right: 5%;
}
.featue-img.anim{
    animation-delay: 1.5s;
}
.anim{
    opacity: 0;
    transform: all ease 0.5s translateY(30px);
    animation: moveup 0.5 linear forwards;
}
@keyframes moveup {
    50%{
        opacity: 1;
        transform: translateY(0px);
    }
    50%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#videos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px 20px 10px ;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
#videos video{
    height: 380px;
    border-radius: 10px;
}
#text{
    text-align: center;
    padding: 5px;
    color: #fff;
}
#text h1{
    font-size: 50px;
    margin: 0;
}
#text p{
    font-size: 20px;
    margin: 5px;
}
#card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 25px 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 100px;
    margin-top: 30px;
}
#weather h1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 5px;
}
#weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: -6px;
}