@font-face{
    font-family: Playpen;
    src: url(/EEP/resources/Playpen.ttf);
}
body {
	background: linear-gradient(-45deg, #0b666a, #35a29f);
	background-size: 300% 300%;
	animation: gradient 25s ease infinite;
	height: 100vh;
    background-attachment: fixed;
    font-family: 'Playpen';
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
header ul li{
    display: inline;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}
nav ul li a:hover::after{
    width: 50%;
}
#container{
    width: 100;
    min-height: 100vh;
    background: transparent;
    padding: 10px;
    padding-top: 2px;
}
#todo-app{
    width:  100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    margin-top: 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
#todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#todo-app h2 img{
    width: 30px;
    margin-right: 10px;
}
#row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#todo-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#todo-app ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/EEP/games/todolist/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
#todo-app ul li.checked::before{
    background-image: url(/EEP/games/todolist/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}