@font-face{
    font-family: Playpen;
    src: url(/EEP/resources/Playpen.ttf);
}
body {
	background: linear-gradient(-45deg, #0b666a, #35a29f);
	background-size: 300% 300%;
	animation: gradient 25s ease infinite;
	height: 100vh;
    background-attachment: fixed;
    font-family: 'Playpen';
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}
nav ul li a:hover::after{
    width: 50%;
}
#card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #12c2e9, #f7797d);
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
#weather h1{
    font-size: 80px;
    font-weight: 500;
    margin: 5px;
}
#weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 5px;
}
#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}
.col{
    display: flex;
    padding: 15px;
    align-items: center;
    text-align: left;
}
.col p{
    margin: 1px;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind, .co2, .nh3, .no, .no2, .o3, .so2{
    font-size: 28px;
    margin-top: -6px;
}